{% extends 'base.html'%}
{% block content %}
<div class="container-fluid welcome-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 welcome">
                {% if current_user.is_authenticated%}
                <a id="start" class="btn " href="{{url_for('home.index')}}">View all pitches</a>
                {% else %}
                <a id="start" class="btn" href="{{url_for('auth.login')}}">Sign in</a>
                {% endif %}


            </div>

        </div>

    </div>

</div>
{% endblock %}