{% extends 'base.html'%}
{% block content %}
<div class="container-fluid welcome-page">
    <div class="container">

        <div class="row home">


            <div class="col-md-4 welcome">
                <br><br>
                <h1>PITCH AWAY!</h1>
                <button class="btn"><a href="{{url_for('main.new_pitch')}}">ADD PITCH</a></button>

            </div>
            <div class="welcome">
                <br><br>
                {% for pitch in pitches %}
                <h3><u>{{pitch.title}}</u></h3>
                    <p>{{pitch.description}}</p>
                    <hr>
                {% endfor %}

            </div>


        </div>

    </div>

</div>
{% endblock %}